#nav {
    margin: auto;
    width: 93vw;
    margin-top: 60vh;
}

#nav ion-button {
    position: fixed;
    bottom: 1vh;
    z-index: 9999;
}

#first {
    right: 84vw;
}

#second {
    right: 64vw;
}

#third {
    right: 42.5vw;
}

#fourth {
    right: 23vw;
}

#fifth {
    right: 3.5vw;
}
