<ion-header>
  <ion-toolbar>
    <ion-title>tab2d</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="nav">
    <ion-button [routerLink]="['/tabs/tab2']" color="primary" id="first">
      1
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2b']" color="primary" id="second">
      2
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2c']" color="primary" id="third">
      3
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2d']" color="secondary" id="fourth">
      4
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2e']" color="primary" id="fifth">
      5
    </ion-button>
  </div>
</ion-content>
