<ion-header>
  <ion-toolbar>
    <ion-title>Tele-Op</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Which ports did the robot score?</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Bottom Port</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleBottomChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Outer Port</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleOuterChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Inner Port</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleInnerChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Didn't Score</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleFailedChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Unable to Score</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleUnableChecked'></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Where can they shoot from?</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Trench</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleTrenchSPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>In front of Power Port</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleFrontPPSPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Initiation Line</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleInitSPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Shield Generator</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleShieldSPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Can't Shoot</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleUnableSPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Didn't Shoot</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleFailedSPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Other..." [(ngModel)]='shootPositionOther'></ion-input>
      <ion-checkbox slot="end" [(ngModel)]='teleOtherSPChecked'></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">Balls Attempted in Upper Port</ion-label>
    <ion-input type="number" [(ngModel)]='teleBallsAttemptedUpper'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Balls Scored in Upper Port</ion-label>
    <ion-input type="number" [(ngModel)]='teleBallsScoredUpper'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Balls Attempted in Bottom Port</ion-label>
    <ion-input type="number" [(ngModel)]='teleBallsAttemptedBottom'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Balls Scored in Bottom Port</ion-label>
    <ion-input type="number" [(ngModel)]='teleBallsScoredBottom'></ion-input>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>Where can they intake power cells from?</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Ground</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleGroundIPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Loading Station</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleLoadingIPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Neither</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleNeitherIPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Other..." [(ngModel)]='intakePositionOther'></ion-input>
      <ion-checkbox slot="end" [(ngModel)]='teleOtherIPChecked'></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>How did they manipulate the control panel?</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Rotation Control (Stage 2 Spin)</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleStage2CPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Position Control (Stage 3 Spin)</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleStage3CPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Didn't manipulate the control panel</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleNeitherCPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Can't manipulate the control panel</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleFailedCPChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Match didn't reach high enough stage</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='teleMatchFailCPChecked'></ion-checkbox>
    </ion-item>
  </ion-list>

  <div id="nav">
    <ion-button [routerLink]="['/tabs/tab2']" color="primary" id="first">
      1
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2b']" color="primary" id="second">
      2
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2c']" color="secondary" id="third">
      3
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2d']" color="primary" id="fourth">
      4
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2e']" color="primary" id="fifth">
      5
    </ion-button>
  </div>
</ion-content>
