<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="scouterName"></ion-input>
  </ion-item>
  <ion-radio-group name="regional-selection" (ionChange)="regionalChange($event)" [(ngModel)]='regional'>
    <ion-list-header>
      <ion-label>Regional</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Midwest</ion-label>
      <ion-radio slot="start" value='Midwest'></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Wisconsin</ion-label>
      <ion-radio slot="start" value='Wisconsin'></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Seven Rivers</ion-label>
      <ion-radio slot="start" value='Seven'></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-radio-group name="position-selection" (ionChange)="positionChange($event)" [(ngModel)]='position'>
    <ion-list-header>
      <ion-label>Position</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Blue 1</ion-label>
      <ion-radio slot="start" value='Blue 1'></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Blue 2</ion-label>
      <ion-radio slot="start" value='Blue 2'></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Blue 3</ion-label>
      <ion-radio slot="start" value='Blue 3'></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Red 1</ion-label>
      <ion-radio slot="start" value='Red 1'></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Red 2</ion-label>
      <ion-radio slot="start" value='Red 2'></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Red 3</ion-label>
      <ion-radio slot="start" value='Red 3'></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-content>
