<ion-header>
  <ion-toolbar>
    <ion-title>Autonomous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="text-input">
    <ion-label position="floating">Number of Balls Shot</ion-label>
    <ion-input type="number" [(ngModel)]='autoBallsShot'></ion-input>
  </ion-item>

  <ion-item color="text-input">
    <ion-label position="floating">Number of Balls Scored</ion-label>
    <ion-input type="number" [(ngModel)]='autoBallsScored'></ion-input>
  </ion-item>
  
  <ion-radio-group name="init-line-select" (ionChange)="initLineChange($event)" [(ngModel)]='autoPassedLine'>
    <ion-list-header color="dark">
      <ion-label>Did the bot pass the initiation line?</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Yes</ion-label>
      <ion-radio slot="start" value=true></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>No</ion-label>
      <ion-radio slot="start" value=false></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-list>
    <ion-list-header color="dark">
      <ion-label>Which ports did the robot score?</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Bottom Port (2 pts)</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='bottomChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Outer Port (4 pts)</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='outerChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Inner Port (6 pts)</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='innerChecked'></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Didn't Score</ion-label>
      <ion-checkbox slot="end" [(ngModel)]='failedChecked'></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button (click)="saveJSON()">Test</ion-button>

  <div id="nav">
    <ion-button [routerLink]="['/tabs/tab2']" color="primary" id="first">
      1
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2b']" color="secondary" id="second">
      2
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2c']" color="primary" id="third">
      3
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2d']" color="primary" id="fourth">
      4
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2e']" color="primary" id="fifth">
      5
    </ion-button>
  </div>
</ion-content>
