<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fill out a Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Team Name</ion-label>
    <ion-input type="number" [(ngModel)]="teamName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Match Number</ion-label>
    <ion-input type="number" [(ngModel)]="matchNum"></ion-input>
  </ion-item>
  <!-- TODO: Remove as saving after leaving page functionality has been implemented -->
  <ion-button (click)="saveJSON()">
    Submit Data on Page
  </ion-button>
  <!-- TODO: Only for debug: Remove eventually -->
  <ion-button (click)="loadJSON()">
    Read File to Console
  </ion-button>

  <div id="nav">
    <ion-button [routerLink]="['/tabs/tab2']" color="secondary" id="first">
      1
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2b']" color="primary" id="second">
      2
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2c']" color="primary" id="third">
      3
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2d']" color="primary" id="fourth">
      4
    </ion-button>
    <ion-button [routerLink]="['/tabs/tab2e']" color="primary" id="fifth">
      5
    </ion-button>
  </div>
</ion-content>
