<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fill out a Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Team Name</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Match Number</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <div id="nav">
    <ion-button color="secondary" id="first">
      1
    </ion-button>
    <ion-button color="primary" id="second">
      2
    </ion-button>
    <ion-button color="primary" id="third">
      3
    </ion-button>
    <ion-button color="primary" id="fourth">
      4
    </ion-button>
    <ion-button color="primary" id="fifth">
      5
    </ion-button>
  </div>
</ion-content>
